---
import type { Props } from "./index.type";

const { className = "" } = Astro.props as Props;

---


<section class={`mx-auto max-w-[100rem] px-[1.5rem] py-[4rem] ${className}`}>
    <slot />
</section>