---
import type { Props } from "./index.type";

const { className = "" } = Astro.props as Props;
---

<section class={`block mx-auto w-full max-w-400 px-6 py-4 mb-48 ${className}`}>
    <slot />
</section>
