---
import type { Props } from "./index.type";

const { className = "" } = Astro.props as Props;
---

<section
    class={`block mx-auto w-full max-w-400 px-6 py-2 md:py-4 mb-[clamp(3rem,8vw,12rem)] ${className}`}
>
    <slot />
</section>
