---
import Layout from "../layouts/Layout.astro";
import PageBuilder from "@/utils/pageBuilder/PageBuilder.astro";
import Text from "@/components/Text/index.astro";
import {
    DEFAULT_LOCALE,
    getPageByRouteSlug,
    getPageRouteSlugs,
} from "../lib/sanity";

export async function getStaticPaths() {
    const slugs = await getPageRouteSlugs(DEFAULT_LOCALE, DEFAULT_LOCALE);

    return slugs.map((slug) => ({
        params: { slug },
    }));
}

const slug = Astro.params.slug ?? "";
const pageData = await getPageByRouteSlug(slug, DEFAULT_LOCALE, DEFAULT_LOCALE);

if (!pageData) {
    Astro.response.status = 404;
}
---

<Layout
    headerMenuItems={pageData?.headerMenuItems ?? []}
    footerMenuItems={pageData?.footerMenuItems ?? []}
    phone={pageData?.phone ?? ""}
    email={pageData?.email ?? ""}
    instagram={pageData?.instagram ?? ""}
    linkedin={pageData?.linkedin ?? ""}
    github={pageData?.github ?? ""}
>
    <main>
        {
            pageData?.elements?.length ? (
                <PageBuilder
                    elements={pageData.elements}
                    facebook={pageData.facebook}
                    instagram={pageData.instagram}
                    phone={pageData.phone}
                />
            ) : (
                <section class="mx-auto max-w-600 px-6 py-24">
                    <Text className="text-paper">
                        No sections configured for this page yet.
                    </Text>
                </section>
            )
        }
    </main>
</Layout>
