---
import Layout from "../layouts/Layout.astro";
import PageBuilder from "@/utils/pageBuilder/PageBuilder.astro";
import { DEFAULT_LOCALE, getHomePage } from "../lib/sanity";

const homePage = await getHomePage(DEFAULT_LOCALE);
---

<Layout
    headerMenuItems={homePage?.headerMenuItems ?? []}
    footerMenuItems={homePage?.footerMenuItems ?? []}
    phone={homePage?.phone ?? ""}
    email={homePage?.email ?? ""}
    instagram={homePage?.instagram ?? ""}
    linkedin={homePage?.linkedin ?? ""}
    github={homePage?.github ?? ""}
>
    <main>
        {
            homePage?.elements?.length ? (
                <PageBuilder
                    elements={homePage.elements}
                    facebook={homePage.facebook}
                    instagram={homePage.instagram}
                    phone={homePage.phone}
                />
            ) : null
        }
    </main>
</Layout>
