---
import Container from "@/components/Container/index.astro";
import Heading from "@/components/Heading/index.astro";
import RichText from "@/components/RichText/index.astro";
import type { Props } from "./index.type";

const { sections = [] } = Astro.props as Props;
---

{
    sections.length > 0 && (
        <Container>
            <div class="grid md:gap-y-20 md:gap-x-10 md:grid-cols-2 gap-y-10 gap-x-6">
                {sections.map((section) => (
                    <div class="flex gap-2 flex-col md:flex-row">
                        {section.title ? (
                            <Heading
                                as="h2"
                                size="2xl"
                                className="mb-4 min-w-40"
                            >
                                {section.title}
                            </Heading>
                        ) : null}
                        <RichText value={section.content ?? []} />
                    </div>
                ))}
            </div>
        </Container>
    )
}
