---
import Container from "@/components/Container/index.astro";
import ExperienceTimelineCard from "@/components/ExperienceTimelineCard/index.astro";
import SectionHeader from "@/components/SectionHeader/index.astro";
import type { Props } from "./index.type";

const { eyebrow = "", heading = "", entries = [] } = Astro.props as Props;
---

<Container>
    <SectionHeader eyebrow={eyebrow} heading={heading} />

    {
        entries.length > 0 ? (
            <ol class="relative py-20 space-y-8 lg:space-y-10 before:absolute before:bottom-0 before:left-1/2 before:top-0 before:hidden before:w-px before:-translate-x-1/2 before:bg-paper/20 lg:before:block">
                {entries.map((entry, index) => (
                    <li class="relative">
                        <span class="absolute left-1/2 top-10 z-10 hidden h-3 w-3 -translate-x-1/2 rounded-full border border-paper/35 bg-[#0b0b0b] lg:block" />
                        <span
                            class:list={[
                                "absolute top-[2.8rem] hidden h-px w-6 bg-paper/20 lg:block",
                                index % 2 === 0 ? "right-1/2" : "left-1/2",
                            ]}
                        />
                        <ExperienceTimelineCard entry={entry} index={index} />
                    </li>
                ))}
            </ol>
        ) : null
    }
</Container>
